{% extends 'includes/base.html' %}
{% load static %}
{% block content %}


<div class="container-planning">
    <div class="container">
		<div class="text-center">
			<h1>About ADA</h1>
			<hr style="border-color:#930A0C; border-width: 2px" width="10%">
            
		</div>
        <div class="row">
			<div class="col-md-4">
				<img class="img-responsive" style="width:200px; margin-bottom: 30px;" src="{% static 'images/team-1.jpg' %}" />
				<ul>
					<li>SADPD</li>
					<li>Vision</li>
					<li>Mission</li>
					<li>Our Objectives</li>
                    <li>Principles</li>
					<li>Experience</li>
					<li>Goals</li>
				</ul>
				<br />

                 <div class="clearfix"></div>
                    <h2>What is ADA?</h2>
                    <p class="text-justify">
                        The Africa Disability Alliance (ADA) is a technical agency that is run and
                         managed by experts with disabilities. The organisation draws its membbaership from fifteen continental Disabled People's
                         organisations (CDPO), other regional federations and civil society organisations (CSOs) that subscribe to the principles 
                         and objectives of the organisation.
                    </p>

                     <p class="text-justify">
                       Elements that constitute the modus operendi of the Secretariat include:
					   <ul>
					   		<li>
							   Relevance and alignment to policy instruments such as United Nations Convetion on the Rights of Persons with 
							   Disabilities (UNCRPD) and the African Decade of Persons with Disabilities proclamation and any tother international
							   policy instruments.
							   </li>
							<li>
								Ability to embed disability with the core business of targetted entities and within standalone disability strategies using a twin
								track approach
							</li>
							<li>
								Access  to a diverse range of disability expertise, including that of partners, without having a retain such expertise on a 
								fulltime basis, in response to the expressed demand.
							</li>
					   </ul>

					   Envisaged Outputs
					 	<ol >
							<li>The ADA  and its alliances/networks share a common vision and understanding of inclusive 
							development that benefits disabled persons</li>
							<li>Increased support and funding for disability programmes from development agencies</li>
						 </ol>
                    </p>

				{% comment %} <div id="chart" style="wight: 100%; height: 250px;"></div> {% endcomment %}
                   
			</div>
			<div class="col-md-8">
				<h2>Our Vision</h2>
				<p class="text-justify">
                    An African continent where people with disabilities enjoy their human rights.
                  
                  </p>
				{% comment %} <button class="btn btn-warning btn-lg pull-right" type="button" style="margin:10px;">More Info</button> {% endcomment %}
				<div class="clearfix"></div>
				<h2>Our Mission</h2>
				<p class="text-justify">
                To be an African knowledge-based organisation that works in partnership with the AU, UN, African governments
                , CSOs, Academia and DPOs to promote inclusive development and human rights for persons with disabilities.
                   </p>
				{% comment %} <button class="btn btn-warning btn-lg pull-right" type="button" style="margin:10px;">More Info</button> {% endcomment %}
				<div class="clearfix"></div>
				<h2>Our Objectives</h2>
				<p class="text-justify">
                To generate and utilise evidence Based Knowledge To work through and with partners, networks/alliances
                   <p/>
				{% comment %} <button class="btn btn-warning btn-lg pull-right" type="button" style="margin:10px;">More Info</button> {% endcomment %}
				<div class="clearfix"></div>
				<h2>Our Principles</h2>
				<p class="text-justify">
                    The overarching principles underlining the work of ADA are:</p>
                
                
                <p class="text-justify"> 

                    <strong>Disability</strong> -  The ADA was formed to facilitate the inclusion of disability rights at 
                    various levels in Africa. Its mandate is premised on the human rights and social model of disability, 
                    which is an inclusive and comprehensive approach to disability rights where the focus is no longer just
                     on the individual but on the environment and the interaction thereof. 
                    This is supported by various (international) instruments on disability that promote equal opportunities
                     for persons with disabilities in society.
                   
                   </p>

                   <p class="text-justify"> 

                    <strong>Development</strong> -  Recognising that persons with disabilities are among the most marginalised
                     in society and considering that many institutions and systems in society have not factored in their needs,
                     ADA finds it imperative to work towards more sustainable solutions that alleviate the situations of persons 
                     with disabilities.
                   </p>

                        <p class="text-justify"> 

                        <strong>Human Rights</strong> - A third pillar to the work of ADA is human rights – the basic rights and 
                        freedoms to which all humans are entitled. ADA was founded upon the continental and global response to 
                        efforts related to inclusive development and mainstreaming of disability work in all sector strategies. 
                        This approach is well enshrined in various international and regional human rights instruments including 
                        the UN Convention on the Rights for Persons with Disability. ADA’s work is about promoting
                        realisation of specific disability rights and ensuring effective enjoyment of all human rights without 
                        discrimination of people with disabilities in Africa.
                    </p>


                    <p class="text-justify">
                        The overarching principles underlining the work of ADA are:
                    </p>

                    <p class="text-justify">
                        <ol>
                            <li>Utilisation of evidence to support planning, monitoring, evaluation and advocacy work related to disability rights;</li>
                            <li>Working in diverse country environments and having up-to-date knowledge on disability work in Africa;</li>
                            <li>
                                    Applying concepts articulated in policy instruments (such as United Nations Convention on the Rights of Persons 
                                    with disabilities (UNCRPD), AU Continental Plan of Action (CPOA) for the African Decade of Persons with disabilities,
                                    Africa Disability Protocol, disability legislation, strategies, etc) in a manner that transfers knowledge, expertise 
                                    and skills to key implementers;
                             </li>
                             <li>Managing the policy value chain, including direct access to legislative structures that pass and monitor\legislation and conduct oversight;
                             
                             </li>
                             <li>Building the capacity of both demand-and supply-side entities.</li>
                        </ol>
                   </p>
				
				<div class="clearfix"></div>
			</div>
		</div>
    </div>
</div>

{% comment %} <div class="container-risk">
    <div class="container">
        <div class="row text-center">
			<h1>Our Projects</h1>
			<hr style="border-color:#930A0C; border-width: 2px" width="10%">
			<br />
			<div class="col-md-6">
				<div class="col-md-3">
					<i class="fa fa-assistive-listening-systems fa-3x" style="color: #E94337" aria-hidden="true"></i>
				</div>
				<div class="col-md-9">
					<h3>The Ear Projects</h3>
					<p class="text-justify">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
							has been the industry's standard dummy text ever since the 1500s, when an unknown printer
							took a galley of type and scrambled it to make a type specimen book. It has survived not
							only five centuries
					  </p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-3">
					<i class="fa fa-globe fa-3x" style="color: #E94337" aria-hidden="true"></i>
				</div>
				<div class="col-md-9">
					<h3>Market Risk</h3>
					<p class="text-justify">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
							took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
							centuries
					 
					 </p>
				</div>
			</div>
		</div>
	
    </div>
</div> {% endcomment %}

<div class="container-testimonials">
    <div class="container">

        <div>
			<h1 class="text-center">Our Team</h1>
	
			<hr style="border-color:#930A0C; border-width: 2px" width="10%"> <br />
	
			<div class="col-md-3">
				<img class="img-responsive" style="border-radius:50%; width:150px;" src="{% static 'images/ak.jpg' %}" /> <br />
				<h4 class="text-success text-center"><i>
				    A. K. Dube
				</i></h4>
				<p class=" text-center">
				&nbsp; Chief Executive Officer
				 </p>
				
			</div>
			<div class="col-md-3">
				<img class="img-responsive" style="border-radius:50%; width:150px;" src="{% static 'images/aida.jpg' %}" /> <br />
				<h4 class="text-success text-center"><i>Madam Aida Sarr</i></h4>
				<p class=" text-center">
				&nbsp; Manager
				</p>
				
			</div>
            <div class="col-md-3">
				<img class="img-responsive" style="border-radius:50%; width:150px;" src="{% static 'images/v.jpg' %}" /> <br />
				
				<h4 class="text-success text-center"><i>Jacob Leighton</i></h4>
				<p class=" text-center">
				&nbsp; Developer 
				</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive" style="border-radius:50%; width:150px;" src="{% static 'images/vim.png' %}" /> <br />
				<h4 class="text-success text-center"><i>Violet Matlala</i></h4>
				<p class=" text-center">&nbsp; Administrator 
				</p>
				
			</div>
		</div>
    </div>
</div>



{% comment %} {% include 'includes/footer.html' %} {% endcomment %}

<script src="{% static ' js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script type="text/javascript">
    jQuery(function($) {
		$("#chart").shieldChart({
			seriesPalette: ["#83c653", "#ffea05"],
			primaryHeader: {
				text: "Internet usage statistics"
			},
			exportOptions: {
				image: false,
				print: false
			},
			axisX: {
				categoricalValues: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"]
			},
			axisY: {
				title: {
					text: "Visitor statistics"
				}
			},
			dataSeries: [{
				seriesType: "bar",
				collectionAlias: "Total Visits",
				data: [565000, 630400, 743000, 910200, 1170200, 1383000]
			}, {
				seriesType: "bar",
				collectionAlias: "Unique Visits",
				data: [152000, 234000, 123000, 348000, 167000, 283000]
			}]
		});
    });
</script>

{% endblock content %}