{% comment %} {% extends "includes/base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<h1>Password set</h1>
<p>Your password has been set. You can <a href="{% url "login" %}">log in now</a>
</p>
{% endblock %} {% endcomment %}

{% load static %}



	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

	<div class="container-fluid">
		<div class="row">	
			<div class="col-lg-6 form-block px-4">
				<div class="col-lg-8 col-md-6 col-sm-8 col-xs-12 form-box">
					<div class="text-center mb-3 mt-5">
						<a href="{% url 'home' %}"><img src="{% static 'images/ada_logo.png' %}" width="150px"></a>
					</div>
					<div class="reset-form d-block">
					  {% comment %} <form class="reset-password-form">
					    <h4 class="mb-3 text-center">Reset Your password</h4>
					    <p class="mb-3" style="color: #777">
					      Please enter your email address and we will send you a password reset link.
					    </p>
					    <div class="form-input">
								<span><i class="fa fa-envelope-o"></i></span>
								<input type="email" name="" placeholder="Email Address" tabindex="10"required>
							</div>
					    <div class="mb-3"> 
								<button type="submit" class="btn">Send Reset Link</button>
							</div>
							<div class="text-center mb-5">
								Already have password 
								<a class="login-link" href="{% url 'login' %}">Login here</a>
							</div>
					  </form> {% endcomment %}
                        <div class="mb-4">
					    <h4 class="mb-3 text-center">Password set</h4>
					    <h6>Your password has been set. You can</h6>
					  </div>
					  <div class="mb-4">
					    <a href="{% url 'login' %}">
					      <button type="submit" class="btn">Login Now</button>
					    </a>
					  </div>
					</div> 
					</div> 
					<div class="reset-confirmation d-none">
					  <div class="mb-4">
					    <h4 class="mb-3 text-center">Link was sent</h4>
					    <h6>Please, check your inbox for a password reset link.</h6>
					  </div>
					  <div class="mb-4">
					    <a href="{% url 'login' %}">
					      <button type="submit" class="btn">Login Now</button>
					    </a>
					  </div>
					</div> 
				</div>
			</div>

			<div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>
		</div>
	</div>
{% comment %} 
<script type="text/javascript">
	function PasswordReset() {
  	$('form.reset-password-form').on('submit', function(e) {
      e.preventDefault();
      $('.reset-form')
      .removeClass('d-block')
      .addClass('d-none');
	    $('.reset-confirmation').addClass('d-block');
		});
	}

	window.addEventListener('load', function() {
    PasswordReset();
	});
</script> {% endcomment %}
