{% load static %}

<footer id="footer" class="clearfix">
    <div class="container">
        <div class="col-md-3">
            <h3 class="text-success">Our Partners</h3>
            <div class="row">
                <div class="row">
                    
                    <div class="col-md-9" style="margin-top: 20px;">
                         <p><a href="https://www.atingi.org/">
                         <i class="fa fa-long-arrow-right text-success" aria-hidden="true"></i>&nbsp; Study With Atingi</a></p>
                        {% comment %} <h4>Study With Atingi</h4> {% endcomment %}
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-9" style="margin-top: 20px;">
                        <p><a href="https://www.who.int/"><i class="fa fa-long-arrow-right text-success" aria-hidden="true"></i>&nbsp; 
                        Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) </a></p> 
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9" style="margin-top: 20px;">
                        <p><a href="https://www.africadisabilityalliance.org/"><i class="fa fa-long-arrow-right text-success" 
                        aria-hidden="true"></i>&nbsp; Africa Disability Alliance</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-success" style="margin-bottom: 20px;">Address</h3>
             <p> Block 5A, Sanwood Office Park
			<br>
			379 Queens Crescent,
			<br>
   			Menlo Park, Pretoria</p>
            <p>+27 (0) 12 348 1840</p>
            <p>+27 (0) 79 872 0325</p>
        </div>
        <div class="col-md-3">
            <h3 class="text-success" style="margin-bottom: 20px;">More Contact Details</h3>
          <p><a href="info@africadisabilityalliance.org">info@africadisabilityalliance.org</a></p>
            <p style="margin-top: 20px;">
                <a class="fa fa-twitter footer-socialicon" target="_blank" href="https://twitter.com/"></a>
                <a class="fa fa-facebook footer-socialicon" target="_blank" href="https://www.facebook.com/Africa-Disability-Alliance-ADA-1469641629976600/"></a>
                <a class="fa fa-google-plus footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                <a class="fa fa-linkedin footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
            </p>
            <p style="padding-top: 20px;"> <a href="https://www.stemgon.co.za" title="Shield UI">&copy; 2021 Africa Disability Alliance&middot;</a></p>
        </div>
        <div class="col-md-3">
            <form style="margin-top: 20px;" action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="2CK4YCLFVD8D6" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_ZA/i/scr/pixel.gif" width="1" height="1" />
            </form>
            <p style="padding-top: 20px;"> <a href="https://www.stemgon.co.za" title="Shield UI"> Developed by Stemgon Pty Ltd</a></p>

        </div>
	</div>
</footer>