{% load static %}

<footer id="footer" class="clearfix">
    <div class="container">
        <div class="col-md-4">
            <h3 class="text-success">Our Partners</h3>
            <div class="row">
                <div class="row">
                    
                    <div class="col-md-9" style="margin-top: 20px;">
                         <p><a href="https://www.atingi.org/">
                         <i class="fa fa-long-arrow-right text-success" aria-hidden="true"></i>&nbsp; Study With Atingi</a></p>
                        {% comment %} <h4>Study With Atingi</h4> {% endcomment %}
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-9" style="margin-top: 20px;">
                        <p><a href="https://www.who.int/"><i class="fa fa-long-arrow-right text-success" aria-hidden="true"></i>&nbsp; 
                        Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) </a></p> 
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9" style="margin-top: 20px;">
                        <p><a href="https://www.africadisabilityalliance.org/"><i class="fa fa-long-arrow-right text-success" 
                        aria-hidden="true"></i>&nbsp; Africa Disability Alliance</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="text-success" style="margin-bottom: 20px;">Address</h3>
             <p> Block 5A, Sanwood Office Park
			<br>
			379 Queens Crescent,
			<br>
   			Menlo Park, Pretoria</p>
            <p>+27 012 348 1840</p>
            <p> +27 (0) 798720325</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-success" style="margin-bottom: 20px;">More Contact Details</h3>
          <p><a href="info@africadisabilityalliance.org">info@africadisabilityalliance.org</a></p>
            <p style="margin-top: 20px;">
                <a class="fa fa-twitter footer-socialicon" target="_blank" href="https://twitter.com/"></a>
                <a class="fa fa-facebook footer-socialicon" target="_blank" href="https://www.facebook.com/"></a>
                <a class="fa fa-google-plus footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                <a class="fa fa-linkedin footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
            </p>
            <p style="padding-top: 20px;">Copyright <a href="https://www.stemgon.co.za" title="Shield UI">&copy; 2017-2021 Stemgon, Pty Ltd &middot;</p>
        </div>
	</div>
</footer>